spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/documentdb
    username: document
    password: document
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml

server:
  port: 8080

app:
  batch-size: 10
